
.container
{
  margin: 10px;
  padding: 10px;
  font-weight: 400;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}


.buttonPayment
{
  margin-top: 10px;
  width: 300px;
  height: 60px;
  justify-self: flex-end;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.buttonPayment:hover
{
  border: 2px solid black;
  box-shadow: 1px 1px #88888888;
}

.paymentContainer
{
  margin-top: 10px;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
}

.total
{
font-size:30px;
}

.tableContainer
{
  width: 90%;
  padding: 10px 0;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 2px solid black;
  box-shadow: 5px 10px #88888888;
  overflow-y:scroll;
  height: 63vh;
}
.tableContainer::-webkit-scrollbar {
    display:none;
}
.tableHeader
{
  width: 100%;
  height: 50px;
}