.background
{
    color: black;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn linear 0.2s ;
}
.container
{
    width: 600px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    font-size: 25px;
}
.content
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.line
{
    margin: 20px 0;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.header
{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button
{
    padding: 8px;
    margin-bottom: 20px;
    width: 200px;
    border: 1px black solid;
    border-radius: 5px;
    box-sizing: border-box;
}
.button:hover
{
    padding: 7px;
    box-sizing: border-box;
    border: 2px black solid;
}
.xbutton
{
    margin-right: 10px;
    color: white;
    background-color: rgb(209, 8, 8);
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.errorMessage
{
    margin: 0px;
    height: 50px;
    font-size: 15px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}