
.container
{
    font-weight: 400;
display: flex;
flex-flow: column nowrap;
justify-content: space-between;
height: 90vh;
align-items: center;
}

.tableContainer
{
  overflow-y:scroll ;
  height: 70vh;
}