.App
{
  width: 100%;
  font-size: 20px;
}

table {
  border-collapse: collapse;
  height: 100px;
  overflow-y: scroll;
  overflow: scroll;

}
thead
{
  background-color:  black;
  color: white;
  
}
th, td {
  padding: 8px;
  width: 150px;
  text-align: center;
  border: 2px solid black;
}

.cell-highlight {
  background-color: gold;
  font-weight: bold;
}


table tr:hover {background-color: #fad7d788;}
caption
{
  font-size: 25px;
  margin: 10px;
  font-weight: 700;
}
