.container
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.backButton
{
    margin: 10px;
    text-decoration: none;
    color: black;

}

.tableScroll
{
    /*width:100%; */
  empty-cells: show;
  /* Decoration */
  border-spacing: 0;
  overflow-x: hidden;
  border: 1px solid black;
}

.tableScroll thead
{
    overflow-y: scroll;
  position:relative;
  display: block;
  width:100%;
}

.tableScroll tbody
{
      /* Position */

display: block;
  width:100%; 
  overflow-y:scroll;
  overflow-x: hidden;
  /* Decoration */
  border-top: 1px solid rgba(0,0,0,0.2);
}

.tableScroll tr{
  
  display:flex;
}


.tableScroll td,.tableScroll th{
  flex-basis:100%;
  flex-grow:2;
  display: block;
  padding: 1rem;
}

.bodyscreen
{
    max-height: 52vh;
}

.totalSection
{
    margin: 0 20px;
    align-self: flex-end;
    font-size: 25px;
}